:root {
    --p-navy10: #F7F8FF;
    --p-navy20: #E6E8FF;
    --p-navy30: #D5D8FF;
    --p-navy40: #C4C8FF;
    --p-navy50: #AAAEF2;
    --p-navy60: #666BBF;
    --p-navy70: #33388C;
    --p-navy80: #111559;
    --p-skyblue10: #FBFEFF;
    --p-skyblue20: #D6EFF9;
    --p-skyblue30: #B8D2DC;
    --p-skyblue40: #9BB5BF;
    --p-skyblue50: #8098A2;
    --p-skyblue60: #667C85;
    --p-skyblue70: #4D6068;
    --p-skyblue80: #36454A;
    --p-beige10: #F6F5F4;
    --p-beige20: #F2E8DF;
    --p-beige30: #D5CABF;
    --p-beige40: #B8ACA1;
    --p-beige50: #9B8F84;
    --p-beige60: #7D7268;
    --p-beige70: #60574E;
    --p-beige80: #433C35;
    --p-brown10: #FFF9F4;
    --p-brown20: #FFE7D3;
    --p-brown30: #FFD6B3;
    --p-brown40: #F8BF8E;
    --p-brown50: #CF9A6C;
    --p-brown60: #A6774E;
    --p-brown70: #7D5634;
    --p-brown80: #54381F;
    --p-dark-brown10: #FFFBF9;
    --p-dark-brown20: #FFE8E0;
    --p-dark-brown30: #FFD5C6;
    --p-dark-brown40: #E1B5A5;
    --p-dark-brown50: #BF9384;
    --p-dark-brown60: #9D7466;
    --p-dark-brown70: #7B574A;
    --p-dark-brown80: #593C32;
    --dark-red10: #FFECEE;
    --dark-red20: #FFC3C7;
    --dark-red30: #FF99A1;
    --dark-red40: #FF6F7B;
    --dark-red50: #F24250;
    --dark-red60: #BF1C29;
    --dark-red70: #8C030E;
    --dark-red80: #590007;
    --pastel-red10: #FFF0F1;
    --pastel-red20: #FFC3C8;
    --pastel-red30: #FF969F;
    --pastel-red40: #FF6975;
    --pastel-red50: #E8515D;
    --pastel-red60: #BF3641;
    --pastel-red70: #96212A;
    --pastel-red80: #6D1118;
    --orange10: #FFF6E7;
    --orange20: #FFE4B1;
    --orange30: #FFD17B;
    --orange40: #FFBE46;
    --orange50: #F2A30F;
    --orange60: #BF7D00;
    --orange70: #8C5B00;
    --orange80: #593A00;
    --mustard10: #FFFCF2;
    --mustard20: #FFEDB9;
    --mustard30: #F2D479;
    --mustard40: #D0B461;
    --mustard50: #AE954B;
    --mustard60: #8C7738;
    --mustard70: #6A5926;
    --mustard80: #483C18;
    --deep-green10: #F5FFE1;
    --deep-green20: #EFFFCD;
    --deep-green30: #E9FFB9;
    --deep-green40: #E2FFA4;
    --deep-green50: #B6D96A;
    --deep-green60: #83A637;
    --deep-green70: #557314;
    --deep-green80: #2C4001;
    --blue10: #E9F8FF;
    --blue20: #B7E9FF;
    --blue30: #85DAFF;
    --blue40: #53CBFF;
    --blue50: #21BCFF;
    --blue60: #0596D5;
    --blue70: #0071A2;
    --blue80: #004D6F;
    --mono10: #F3F3F3;
    --mono20: #D7D8D9;
    --mono30: #BABDBF;
    --mono40: #9EA2A6;
    --mono50: #83888C;
    --mono60: #696E73;
    --mono70: #50555A;
    --mono80: #383C40;
    --black: #0D0D0D;
    --white: #F0F0F2;
    --pure-white: #FFFFFF;
  }