*{
    margin: 0;
    padding: 0;
}

.main-body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--mono40, #9EA2A6);
}
